.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}

.cards .card {
    width: 300px;
    height: auto;
    box-shadow: 0px 0px 7px rgba(196, 196, 196, 0.7);
    transition: opacity 0.3s ease; 
}

.card-body {
    padding-bottom: 0;
}

.card:hover {
    opacity: 0.7;
}

.card-img-top {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
}

.card-title {
    font-size: 1rem; 
    font-family: "Josefine-Sans-Bold", sans-serif;
    font-weight: 600;
}

.card-text {
    width: 100%;
    max-width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 1rem;
}

.card-footer {
    background-color: white;
    border: none;
}

.card-text-footer {
    text-align: start;
    padding: 0 1rem 1rem 1rem;
}


.info-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;

    max-width: 100%;
}

.text-movile {
    text-align: left;
}

.info-container p {
    text-align: justify;
    max-width: 750px;
    width: 100%;
}

.info-foot p, h5{
    text-align: center;
}


.img-info {
    width: 100%;
    max-width: 400px;
    height: auto;
    object-fit: cover;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.57);
}


.galery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}

.galery .card {
    max-width: 160px;
    margin: 0.3rem;
    cursor: pointer;
}


br {
    margin: 1rem 0;
}


@media screen and (max-width: 1400px) {
    .info h3 {
        text-align: left;
    }
    .info-container p {
        max-width: 650px;
    }
}

@media screen and (max-width: 1200px) {
    .info h3 {
        text-align: center;
    }
}

@media screen and (max-width: 996px) {
    .info-container p {
        max-width: 700px;
    }
}

@media screen and (max-width: 768px) {
    .info-container {
        justify-content: center;
        gap: 1.5rem;
    }

    .galery {
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .carousel-item img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}

@media screen and (max-width: 425px) {
    .text-movile {
        text-align: center;
    }

    .img-info {
        max-width: 300px;
        height: auto;
    }

    .cards {
        justify-content: center;
    }

    .cards .card {
        width: 100%;
        max-width: 160px;
        height: auto;
        margin: 1rem;
    }

    .card-text {
        display: none;
    }

    .card-img-top {
        max-width: 100%;
        max-height: 160px;
    }

    .galery .card {
        width: 100%;
        max-width: 300px;
        margin: 0.3rem;
    }
}

@media screen and (max-width: 320px) {
    .cards .card {
        width: 100%;
        max-width: 140px;
    }

    .img-info {
        max-width: 250px;
    }

    .galery .card {
        width: 100%;
        max-width: 250px;
    }
}
