a{
  text-decoration: none;
}

.hero {
  background-color: #455F76;
  color: white;
  text-align: center;
  padding: 100px 20px;
  position: relative;
}

.hero-title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
  animation: fadeInDown 1.5s ease-out;
}

.hero p {
  animation: fadeIn 2s ease-out;
  text-align: center;
}

.btn-explore {
  display: inline-block;
  background-color: #a37629;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  transition: all 0.3s ease;
}

.btn-explore:hover {
  background-color: #854d1e;
}

/* Sections */
.section {
  padding: 80px 20px;
}

.bg-section {
  background-color: #455F76;
  color: white;
}

.section-title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 40px;
  color: #a37629;
}

/* Content Layout */
.content {
  display: flex;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}

.content .reverse {
  flex-direction: row-reverse;
  display: flex;
  flex-wrap: wrap;
}

.text {
  flex: 1;
  font-weight:100;
}

.text h2{
  color: #e4940a;
  font-size: 28px;
}

.image {
  flex: 1;
  text-align: center;
}

.image img {
  max-width: 100%;
  border-radius: 10px;
}

.values-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.value-item {
  text-align: justify;
  background-color: #e4f0fd;
  border: 2px solid #e4f0fd;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 7px rgba(148, 148, 148, 0.582);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.value-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.value-item i {
  font-size: 36px;
  color: #a37629;
  margin-bottom: 15px;
}

.value-item h3 {
  font-size: 24px;
  color: #1667ad;
  margin-bottom: 10px;
  font-family: 'Josefin-Sans-Bold';
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive */
@media (max-width: 768px) {
  .hero-title {
    font-size: 36px;
  }

  .content {
    flex-direction: column;
    gap: 20px;
  }
}

@media (max-width: 480px) {
  .hero-title {
    font-size: 28px;
  }

  .btn-explore {
    font-size: 16px;
  }

  .content{
    text-align: justify;
  }
}